@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    overflow: auto;
    min-height: 300px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid steelblue;
    background-color: aquamarine;
}

.header h1.logo {
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
}

.header button {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.footer {
    justify-content: space-between;
    margin-bottom: 30px;
    text-align: center;
    background-color: aquamarine;
}

.SMLogo {
    width: 50px;
    height: 50px;
}