@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.App {
    margin: auto;
    overflow: auto;
    min-height: 300px;
    border-radius: 5px;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid steelblue;
    background-color: aquamarine;
}

.header h1.logo {
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
}

.header button {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.body {
    margin-bottom: 30px;
}

.body div.profileBackground {
    width: 100%;
    height: 500px;
    
    background-image: url(./assets/longan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.body div.profileBackground div.profileText {
    padding-top: 300px;
    text-align: center;
    color: floralwhite;
}

.aboutMeContainer {
    margin: 10px;
}

.aboutMeContainer div.aboutMe {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.aboutMeContainer div.aboutMe img.aboutMePic {
    height: 200px;
    width: 200px;
    border: aquamarine;
}

.aboutMeContainer div.aboutMe div.aboutMeContent {
    margin: 10px;
}


.footer {
    margin-top: 20px;
    min-height: 100px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
}

.footer div.copyright {
    padding-top: 70px;
}

.SMLogo {
    margin: 10px;
    width: 50px;
    height: 50px;
}